#myCarousel {
  margin-bottom: 50px;
}
.row {
  margin-bottom: 30px;
}

.carousel-item {
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(#023047, #219ebc, #ffb703);
}

.carousel-item h1 {
  margin: 0;
  color: white;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.carouselTitle {
  margin: 4px;
  font-weight: bolder;
  font-size: 58px;
  font-family: "Abril Fatface";
}

.carouselStories {
  font-weight: bold;
  font-size: 18px;
}

.carouselStorySubText{
    font-size: 12px;
    color: #FFB703;
    margin-bottom: 8px;
}

.carousel-btn {
  margin-top: 24px;
}

.bd-placeholder-img {
  display: flex;
  justify-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.podiumNumber {
  font-weight: bolder;
  font-size: 95px;
  height: 140px;
  width: 140px;
  background-color: #023047;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#circleOne {
  color: #ffb703;
}

#circleTwo {
  color: #777;
}

#circleThree {
  color: #fb8500;
}

.podiumStorySubText{
    font-size: 12px;
    color: gray;
    margin-bottom: 6px;
}
